{% extends 'home.html'%}
{% load static %}

{% block filter %} {% endblock filter %}
{% block paginator %} {% endblock paginator %}
{% block script %} {% endblock script %}

{% block header %}
<div class="position-relative">
	<div class="position-absolute tm-site-header">
		<div class="container-fluid position-relative">
			<div class="row">
				<div class="col-7 col-md-4">
					<a href={% url 'home' %} class="tm-bg-black text-center tm-logo-container">
						<i class="fas fa-video tm-site-logo mb-3"></i>
						<h1 class="tm-site-name">Video Catalog</h1>
					</a>
				</div>
				<div class="col-5 col-md-8 ml-auto mr-0">
					<div class="tm-site-nav">
						<nav class="navbar navbar-expand-lg mr-0 ml-auto" id="tm-main-nav">
							<button class="navbar-toggler tm-bg-black py-2 px-3 mr-0 ml-auto collapsed" type="button"
								data-toggle="collapse" data-target="#navbar-nav" aria-controls="navbar-nav"
								aria-expanded="false" aria-label="Toggle navigation">
								<span>
									<i class="fas fa-bars tm-menu-closed-icon"></i>
									<i class="fas fa-times tm-menu-opened-icon"></i>
								</span>
							</button>
							<div class="collapse navbar-collapse tm-nav" id="navbar-nav">
								<ul class="navbar-nav text-uppercase">
									{% if user.is_authenticated %}
										<li class="nav-item">
											<a class="nav-link tm-nav-link" href={% url 'logout' %}>Logout</a>
										</li>
									{% else %}
										
										<li class="nav-item active">
											<a class="nav-link tm-nav-link" href={% url 'registration' %}>Registration</a>
										</li>
										
									{% endif %}
									
									<li class="nav-item">
										<a class="nav-link tm-nav-link" href={% url 'home' %}>Movies</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tm-welcome-container text-center text-white">
		<div class="tm-welcome-container-inner">
			{% if user.is_authenticated %}
			<p class="tm-welcome-text mb-1 text-white">Hi {{user}} !</p>
			{% else %}
			<p class="tm-welcome-text mb-1 text-white">Hello friend, join us!</p>
			{% endif %}
			<a href="#content" class="btn tm-btn-animate tm-btn-cta tm-icon-down">
				<span>Discover</span>
			</a>
		</div>
	</div>

	<div id="tm-video-container">
		<video autoplay muted loop id="tm-video">
			<!-- <source src="video/sunset-timelapse-video.mp4" type="video/mp4"> -->
				<source src={% static 'static media/2.webm' %}>
		</video>    
	</div>
	<i id="tm-video-control-button" class="fas fa-pause" style = "color : white;"></i>
</div>
{% endblock header%} 



{% block content %}
<div class="container">
	<div class="row main-form">
		<form method="post" style = "width: 100%;">
			{% csrf_token %}
			<h3 class = "tm-text-primary mb-4 mt-4">Registration Form</h3>
			{% for field in form %}
				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							{{ field }}
							{% if field.errors %}
								{% for error in field.errors %}
									<p style = "color:red;margin-top:0px;margin-bottom: 0px;width: 100%;text-align: center;">{{error}}</p>
								{% endfor %}
							{% endif %}			
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="form-group ">				
				<button class="btn btn-primary btn-lg btn-block login-button" type="submit" id="" >Create account</button>
			</div>

		</form>
	</div>
</div>

{% endblock %}

