.form-group{
 margin-bottom: 15px;
}
label{
 margin-bottom: 15px;
 font-size: 1.2rem;
 color: #3399CC;
}
input,
input::-webkit-input-placeholder {
 padding-top: 3px;
}


.form-control {
 height: auto!important;
 padding: 8px 12px !important;
}

.input-group {
 border-bottom:black;
 margin-bottom:40px;

}

#button-submit {
 border: 1px solid #ccc;
 margin-top: 28px;
 padding: 6px 12px;
 color: #666;
 text-shadow: 0 1px #fff;
 cursor: pointer;
 border-radius: 3px 3px;
 box-shadow: 0 1px #fff inset, 0 1px #ddd;
 background: #f5f5f5;
 background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
 background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
 background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
 background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
 background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.main-form{
 margin-top: 30px;
 margin: 0 auto;
 max-width: 400px;
 padding: 10px 40px;
 background:White;
text-shadow: none;
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}

.login-button{
 margin-top: 5px;
}

.input-form{
	height: auto!important;
	padding: 8px 12px !important;
	width:100%;
	background-color: #F4F4F4;
	outline: none !important;
	border: none;
	color: #3399CC;
	background-image: linear-gradient(0deg,#3399CC 3px,rgb(255 255 255 / 20%) 0)!important;
}